<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>焗薯</string>
		<key>price</key>
		<integer>65</integer>
		<key>distance</key>
		<integer>2</integer>
		<key>speed</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>飲茶</string>
		<key>price</key>
		<integer>65</integer>
		<key>distance</key>
		<integer>2</integer>
		<key>speed</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沙霸</string>
		<key>price</key>
		<integer>65</integer>
		<key>distance</key>
		<integer>1</integer>
		<key>speed</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>演藝</string>
		<key>price</key>
		<integer>65</integer>
		<key>distance</key>
		<integer>0</integer>
		<key>speed</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Delifrance</string>
		<key>price</key>
		<integer>65</integer>
		<key>distance</key>
		<integer>1</integer>
		<key>speed</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>華御結</string>
		<key>price</key>
		<integer>40</integer>
		<key>distance</key>
		<integer>0</integer>
		<key>speed</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沙煲</string>
		<key>price</key>
		<integer>90</integer>
		<key>distance</key>
		<integer>1</integer>
		<key>speed</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吉野家</string>
		<key>price</key>
		<integer>40</integer>
		<key>distance</key>
		<integer>2</integer>
		<key>speed</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美味天皇</string>
		<key>price</key>
		<integer>65</integer>
		<key>distance</key>
		<integer>1</integer>
		<key>speed</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高台VITNAM</string>
		<key>price</key>
		<integer>65</integer>
		<key>distance</key>
		<integer>1</integer>
		<key>speed</key>
		<string>2</string>
	</dict>
</array>
</plist>
